@model ASPNETcoreMVCHW.Models.CakeRecipes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CakeRecipes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name):
            <br />
            <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F5157071.jpg&w=272&h=272&c=sc&poi=face&q=60" />
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name):
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recipe):
        </dd>
    </dl>
</div>
<div>
@*    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
*@    <a asp-action="Index">Back to List</a>
</div>
